<p class="lead" id="issue-lead">Issues</p>
<%= render 'issue/issue' %>

<p class="indent0">
<br />

  <button class="btn btn-info btn-block" type="button" onClick="alert('Add new issue')">
  <i>New Issue...</i></button>
</p>


