
<p>There are rewards, and risks, associated with hydraulic fracturing (fracking). </p>
<p>Risks: </p>
    <ol>
      <li>It <span class="nodal" data-node_id="0">uses large amounts of water</span>
        at a time when <span class="nodal" data-node_id="0">water conservation should be a concern</span> for all Americans [need references]. </li>
      <li><span class="nodal" data-node_id="0">Air and ground water pollution</span> has been reported [need references] near well sites.  </li>
      <li>The <span class="nodal" data-node_id="0">health issues</span> have been reported in people who live near fracking well sites.   </li>
      <li>The noise, dust and commercial environment of fracking well sites can be <span class="nodal" data-node_id="0">disruptive to homeowners</span> [need references].  </li>
      <li>The reports of <span class="nodal" data-node_id="0">earthquakes</span> associated with fracking sites [need references].  </li>
      <li>The <span class="nodal" data-node_id="0">cement casings</span> used in the wells are known to fail over time, and yet there is no plan for inspecting or replacing them [need references]. </li>

    </ol>
<p>Rewards: </p>
At the same time, there are valuable <span class="nodal" data-node_id="44072">benefits</span> to the USA that come from fracking:
<ol>
    <li>The abundance [need references] of a low cost [need specifics] energy source that diminish, or replace, the USA's dependence on oil [need references].</li>
    <li>The number of well-paying jobs provided by the fracking industry [need references] .</li>
    <li>The pollution reduction achieved by using natural gas instead of oil [need references].
    <li>The goal for energy independence [need references].</li>
</ol>

<p>Problems with today's regulations on fracking include:</p>
  <ol>
    <li>Inconsistent and incomplete measurement. It is difficult to tell how safe fracking is, or isn't, because industry and government monitoring is inconsistent, incomplete and/or deliberately obfuscating. Specifically: </li>
	<ul>
      <li>What is the composition of hydraulic fracturing fluid, for all wells? [need references]</li>
      <li>How much hydraulic fracturing fluid is recovered, for all wells? [need references]</li>
      <li>How is the environment around a well measured, and ? [need references]</li>
      <li>Measurements different based on whether the wells are on private or public lands [need references].</li>
    </ul>
    <li>Inconsistent and incomplete regulation. Specifics include:</li>
	<ul>
      <li>Regulations changed to benefit industry [need references - See Cheney rule]</li>
      <li>Regulations different based on whether the wells are on private or public lands [need references]</li>
    </ul>
  </ol>