<p class="lead">Fracking and Earthquakes</p>

  <!-- ul class="nav nav-tabs" id="quest-tab">
    <li class="active"><a href="#synopsis" data-toggle="tab">Synopsis</a></li>
    <li><a href="#perspectives" data-toggle="tab">Perspectives</a></li>
    <li><a href="#guildtools" data-toggle="tab">Guild Tools</a></li>
  </ul>
  <hr / -->
<ul class="nav nav-tabs" id="quest-tab2">
  <li class="active"><a href="#synopsis" data-toggle="tab">The Issue</a></li>
  <li><a href="#perspectives" data-toggle="tab">Perspectives</a></li>
  <li><a href="#quests" data-toggle="tab">Quests</a></li>
  <li><a href="#discuss" data-toggle="tab">Discuss</a></li>
  <li><a href="#map" data-toggle="tab">Map</a></li>
  <li><a href="#create" data-toggle="tab">Create</a></li>

</ul>

<div class="tab-content">

  <div class="tab-pane active" id="synopsis">
    <p>
      Is there a correlation between fracking and increased seismic activity?
    </p>

    <p><b>Synopsis:</b> This is an omni-partisan summary of the perspectives on this issue</p>
    <p>It can also be a map of the issue-quests history.</p>
    <hr />
    <h4>Quests</h4>
  </div>

  <div class="tab-pane" id="perspectives">
    <div class='perspective_thumb'>
        <h3>Industry</h3>
        <p>Minor nuisance</p>
      </div>
    <div class='perspective_thumb'>
      <h3>Jobs Now</h3>
      <p>Minor nuisance</p>
    </div>
    <div class='perspective_thumb'>
      <h3>Long View</h3>
      <p>Distinct correlation</p>
    </div>
  </div>

  <div class="tab-pane" id="guildtools">
    Dialog | Map | Perspective
    <p>Discussing | Mapping | Creating</p>
    <p>Discuss | Map | Perpectives</p>
  </div>

  <div class="tab-pane" id="discuss">
        Conversation widget
        <p>...</p>
        <p>...</p>
      </div>

  <div class="tab-pane" id="map">
      Mapping, re-mapping, playing
      <p>...</p>
      <p>...</p>
    </div>

  <div class="tab-pane" id="create">
      Harvest, innovate
      <p>Cool Tools</p>
      <p>Perspectives Editor</p>
    </div>

  <div class="tab-pane" id="quests">
      How guilds engage with issues.
      <p>Guild Editor</p>
      <p>you join guild<br />
        guild joins with issue</p>
  </div>

</div>







