<div>
    <h3>Fracking and Water Availability and Quality</h3>
</div>

<div>
  What is important to know about fracking and water?
</div>

<div>
  <hr />
  <h3>Synopsis</h3>
  <p>In the winter 2012 Quest, perspectives will be created on this issue.</p>
</div>

<div id="perspectives">

  <div class='perspective_thumb'>
      <h3>Perspective 1</h3>
      <p>?</p>
    </div>
  <div class='perspective_thumb'>
    <h3>Perspective 2</h3>
    <p>?</p>
  </div>
  <div class='perspective_thumb'>
    <h3>Perspective 3</h3>
    <p>?</p>
  </div>


</div>