<div>
    <h3>Obama Record</h3>
</div>

<div>
  How does Obama's record in his first term match up against what he promised, and what was needed?
</div>

<div>
  <hr />
  <h3>Synopsis</h3>
  <p>This is an omni-partisan summary of the perspectives on this issue</p>
</div>

<div id="perspectives">

  <div class='perspective_thumb'>
      <h3>Perspective 1</h3>
      <p>blah blah</p>
    </div>
  <div class='perspective_thumb'>
    <h3>Perspective 2</h3>
    <p>blah blah</p>
  </div>
  <div class='perspective_thumb'>
    <h3>Perspective 3</h3>
    <p>blah blah</p>
  </div>


</div>