<p>
    <a href="#" onclick='d3.select("#d3play").transition().style("background-color", "black");'>Fade to Black</a>
    &nbsp; &nbsp; <a href="#" onclick='addTextCircles()'>Enrich Circles</a>
    &nbsp; &nbsp; <a href="#" onclick='addText()'>Fixed Text</a>
</p>

<style type="text/css">
     .box {
       background-color: skyblue;
       width: 24px;
       height: 18px;
       padding: 4px;
       margin: 1px;
     }
</style>
<script type="text/javascript">
    // svg element dimensions
    var w = 500;
    var h = 300;

    var dataset = {
        nodes: [
            { name: "Adam"},
            { name: "Bob"},
            { name: "Carrie"},
            { name: "Donovan"},
            { name: "Edward" },
            { name: "Felicity"},
            { name: "George"},
            { name: "Hannah"},
            { name: "Iris"},
            { name: "Jerry"}
        ],
        edges: [
            { source: 0, target: 1},
            { source: 0, target: 2},
            { source: 0, target: 3},
            { source: 0, target: 4},
            { source: 1, target: 5},
            { source: 2, target: 5},
            { source: 3, target: 4},
            { source: 5, target: 8},
            { source: 5, target: 9},
            { source: 6, target: 7},
            { source: 7, target: 8},
            { source: 8, target: 9}
        ]
    };

    var force = d3.layout.force()
            .nodes(dataset.nodes)
            .links(dataset.edges)
            .size([w, h])
            .linkDistance([50])
            .charge([-100])
            .start();

    var colors = d3.scale.category10();

    //Create SVG element
    var svg = d3.select("#d3play")
                .append("svg")
                .attr("width", w)
                .attr("height", h);

    var edges = svg.selectAll("line")
            .data(dataset.edges)
            .enter()
            .append("line")
            .style("stroke", "#ccc")
            .style("stroke-width", 1);

    var nodes = svg.selectAll("circle")
            .data(dataset.nodes)
            .enter()
            .append("circle")
            .attr("r", 10)
            .style("fill", function(d,i) {
                return colors(i);
            })
            .on('mouseover', function(d,i) {console.log(d.name)})
            .call(force.drag);

    force.on("tick", function() {

            edges.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

            nodes.attr("cx", function(d) { return d.x; })
                    .attr("cy", function(d) {return d.y; });

    });

    var myMouseOverFunc = function() {
        console.log("we are here") ;
        var circle = d3.select(this);
        circle.attr("fill", "red");
    };

    nodes.forEach(function(node){

    });

    function addTextCircles ()   {
        svg.selectAll("text").
                data(nodes).
                enter().
                append("svg:text").
                attr("x", function(datum) { console.log(datum); console.log(datum.x); return datum.x; }).
                attr("y", function(datum) { return datum.y }).
                attr("text-anchor", "middle").
                text(function(datum) {return datum.name;}).
                attr("fill", "blue");
        console.log("textCircles done");
    }

    function addText ()    {
        svg.selectAll("circle")
                .append("svg:title")
                .text(function(d) {return d.name;})
        console.log("fixed text drawn");
    }


</script>