
<ul class="nav nav-tabs" id="quest-tab2">
  <li class="active"><a href="#d3play" data-toggle="tab">Force Graph</a></li>
  <li><a href="#ripples" data-toggle="tab">Ripples</a></li>
  <li><a href="#convo" data-toggle="tab">Convo</a></li>
  <li><a href="#views" data-toggle="tab" id="disc">Filtered Views</a></li>
  <li><a href="#perspect" data-toggle="tab">Perspect</a></li>
  <li><a href="#create" data-toggle="tab">Create</a></li>

</ul>

<div class="tab-content">

<div class="tab-pane active" id="d3play">
    <%= render 'd3play'  %>
</div>

<div class="tab-pane active" id="ripples">

</div>

<div class="tab-pane active" id="convo">

</div>

<div class="tab-pane active" id="views">

</div>

<div class="tab-pane active" id="perspect">

</div>

<div class="tab-pane active" id="create">

</div>

</div> <!-- end tab-content -->